<!DOCTYPE html>
<html>
    
<head>
    <title>Back office NFE - Intervention n°<%= intervention.id %></title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/detail.css" />
</head>

<%- include("../header"); %>

<body>
    <h1 class="title">Intervention n°<%= intervention.id %></h1>

    <form method="post" class="form">
        <div class="form-line">
            <label class="form-label">Incident :</label>
            <a href="/incidents/<%= intervention.incident_id %>" class="form-input">/incidents/<%= intervention.incident_id %></a><br>
        </div>

        <div class="form-line">
            <label class="form-label">Lieu :</label>
            <input type="text" class="form-input" value="<%= locals.intervention ? intervention.place : '' %>"/><br>
        </div>

        <div class="form-line">
            <label class="form-label">Type d'intervention</label>
            <select class="form-input">
                <% types.forEach(type => { %>
                    <option value="<%= type %>" <% if (locals.intervention && type == intervention.type) { %> selected="selected" <% } %>><%= type %></option>
                <% }); %>
            </select><br>
        </div>

        <div class="form-line">
            <label class="form-label">Date de début :</label>
            <input type="date" class="form-input" value="<%= locals.intervention ? intervention.beginning_date : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Date de fin :</label>
            <input type="date" class="form-input" value="<%= locals.intervention ? intervention.end_date : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Matériels :</label>
            <table class="form-input">
                <% intervention.hardwares.forEach(hardware => { %>
                    <tr id="originalMaterialLine">
                        <td>
                            <input type="text" name="hardwares[]" list="hardwares" autocomplete="off" value="<%= hardware %>"/>
                            <datalist id="hardwares">
                                <% hardwares.forEach(hardware => { %>
                                    <option value="<%= hardware %>" />
                                <% }); %>
                            </datalist>
                        </td>
                        <td>
                            <button type="button" class="addMaterial">+</button>
                        </td>
                        <td>
                            <button type="button" class="remove">-</button>
                        </td>
                    </tr>
                <% }); %>
            </table><br>
        </div>

        <div class="form-line">
            <label class="form-label">Priorité :</label>
            <select class="form-input">
                <% priorities.forEach(priority => { %>
                    <option value="<%= priority %>" <% if (locals.intervention && priority == intervention.priority) { %> selected="selected" <% } %>><%= priority %></option>
                <% }); %>
            </select><br>
        </div>

        <div class="form-line">
            <label class="form-label">Agents :</label>
            <table class="form-input">
                <% intervention.agents.forEach(agent => { %>
                    <tr id="originalAgentLine">
                        <td>
                            <select name="agents[]" >
                                <% agents.forEach(agent => { %>
                                    <option value="<%= agent %>"><%= agent %></option>
                                <% }); %>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="addAgent">+</button>
                        </td>
                        <td>
                            <button type="button" class="remove">-</button>
                        </td>
                    </tr>
                <% }); %>
            </table><br>
        </div>

        <div class="form-line">
            <label class="form-label">Cloturé :</label>
            <% if (intervention.enclosed == true) { %>
                <div class="form-input enclosed"></div>
            <% } else { %>
                <div class="form-input notenclosed"></div>
            <% } %><br>
        </div>

        <input type="submit" name="modify" id="modify" value="Modifier l'intervention" />
        <input type="submit" name="close" id="close" value="Clôturer l'intervention" />
    </form>
</body>

</html>

<script src="js/select.js"></script>