<!DOCTYPE html>
<html>

<head>
    <title>Back office NFE - Incident n°<%= incident.id %></title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/detail.css" />
</head>

<%- include("../header"); %>

<body>
    <h1 class="title">Incident n°<%= incident.id %></h1>

    <form method="post" class="form">
        <div class="form-line">
            <label class="form-label">ID :</label>
            <input type="text" value="<%= incident.id %>" readonly class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Lieu :</label>
            <input type="text" name="place" value="<%= incident.place %>" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Date d'apparition :</label>
            <input type="date" name="date" value="<%= incident.date %>" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Type d'incident :</label>
            <select name="type" class="form-input">
                <% types.forEach(type => { %>
                    <option value="<%= type %>" <% if (locals.incident && type == incident.type) { %> selected="selected" <% } %>><%= type %></option>
                <% }); %>
            </select><br>
        </div>

        <div class="form-line">
            <label class="form-label">Nom du client :</label>
            <input type="name" name="name" value="<%= incident.name %>" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Numéro de téléphone :</label>
            <input type="text" name="phone" value="<%= incident.phone %>" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Adresse mail :</label>
            <input type="email" name="mail" value="<%= incident.mail %>" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Commentaire :</label>
            <textarea name="comment" class="form-input"><%= incident.comment %></textarea><br><br><br>
        </div>

        <div class="form-line">
            <label class="form-label">Validé :</label>
            <% if (incident.done == true) { %>
                <div class="form-input validated"></div>
            <% } else { %>
                <div class="form-input notvalidated"></div>
            <% } %><br>
        </div>

        <% if (incident.done) { %>
            <div class="form-line">
                <label class="form-label">Intervention :</label>
                <a href="/interventions/<%= incident.intervention_id %>" class="form-input">/interventions/<%= incident.intervention_id %></a>
            </div>
        <% } %>

        <% if (!incident.done) { %>
            <div class="form-line">
                <input type="submit" name="modify" id="modify" value="Modifier l'incident" />
                <input type="submit" name="delete" id="delete" value="Supprimer l'incident" />
            </div>

            <div class="form-line">
                <button type="button" id="moreHardware">Plus de matériels</button>
            </div>

            <div class="form-line">
                <label class="form-label">Matériel nécessaire :</label>
                <input type="text" name="hardwares[]" list="hardwares" class="form-input" autocomplete="off"/>
                <datalist id="hardwares">
                    <% hardwares.forEach(hardware => { %>
                        <option value="<%= hardware %>" />
                    <% }); %>
                </datalist><br>
            </div>
            
            <div class="form-line">
                <label class="form-label">Priorité :</label>
                <select name="priority" class="form-input">
                    <% priorities.forEach(priority => { %>
                        <option value="<%= priority %>"><%= priority %></option>
                    <% }); %>
                </select><br>
            </div>

            <div class="form-line">
                <label class="form-label">Date de début :</label>
                <input type="date" name="beginning_date" class="form-input"/><br>
            </div>

            <div class="form-line">
                <label class="form-label">Date de fin :</label>
                <input type="date" name="end_date" class="form-input"/><br>
            </div>

            <div class="form-line">
                <label class="form-label">Agents :</label>
                <select name="agents[]" class="form-input">
                    <% agents.forEach(agent => { %>
                        <option value="<%= agent %>"><%= agent %></option>
                    <% }); %>
                </select><br>
            </div>

            <input type="submit" name="validate" value="Valider l'incident" />
        <% } %>

        <input type="hidden" name="id" value="<%= incident.id %>" />
    </form>

    <% if (locals.success) { %>
        <div class="success">
            <h1><%= success %></h1>
        </div>
    <% } %>

    <% if (locals.error) { %>
        <div class="error">
            <h1><%= error %></h1>
        </div>
    <% } %>
</body>

</html>

<script>    
    var original_to_dup = document.getElementsByName('hardwares[]')[0].parentElement;

    var moreHardware = document.getElementById('moreHardware');
    var lessHardware = document.createElement('button');
    lessHardware.type = 'button';
    lessHardware.textContent = 'Moins de matériels';

    var count = document.getElementById('hardwares').options.length;

    lessHardware.addEventListener('click', () => {
        var lines = document.getElementsByName('hardwares[]');

        lines[lines.length - 1].parentElement.remove();

        if (document.getElementsByName('hardwares[]').length == 1) {
            lessHardware.remove();
        } else {
            lessHardware.before(moreHardware);
        }
    });

    document.getElementById('moreHardware').addEventListener('click', (e) => {
        if (document.getElementsByName('hardwares[]').length == 1) {
            moreHardware.after(lessHardware);
        }

        var dup = original_to_dup.cloneNode(true);
        dup.removeChild(dup.children[0]);   

        original_to_dup.after(dup);
    });

    var today = new Date().toISOString().substring(0, 10);
    document.getElementsByName('beginning_date')[0].value = today;
    document.getElementsByName('end_date')[0].value = today;
</script>