<!DOCTYPE html>
<html>

<head>
    <title>Back office NFE - Incidents</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/incidents.css" />
</head>

<%- include("../header"); %>

<body>
    <h1 class="title">Incidents</h1>

    <h2>Liste des incidents</h2>

    <form method="post">
        <input type="submit" name="delete_all" value="Supprimer les incidents sélectionnés" class="control_button"/>

        <table border="2">
            <thead>                
                <tr>
                    <td><input type="checkbox" id="all_checkbox" /></td>
                    <td>ID</td>
                    <td>Lieu</td>
                    <td>Date d'apparition</td>                    
                    <td>Type d'incident</td>
                    <td>Nom du client</td>
                    <td>Numéro de téléphone</td>
                    <td>Adresse mail</td>
                    <td>Commentaire</td>
                </tr>
            </thead>

            <tbody>
                <% incidents.forEach(incident => { %>
                    <tr class="incident_row" data-id="<%= incident.id %>">
                        <td>
                            <input type="checkbox" name="incidents[]" value="<%= incident.id %>" />
                        </td>
                        <td><%= incident.id %></td>                        
                        <td><%= incident.place %></td>
                        <td><%= incident.date %></td>
                        <td><%= incident.type %></td>
                        <td><%= incident.client.name %></td>                    
                        <td><%= incident.client.phone %></td>
                        <td><%= incident.client.mail %></td>
                        <td><%= incident.client.comment %></td>
                        <td>
                            <form method="post">
                                <input type="submit" name="delete" value="Supprimer l'incident" class="control_button" />                            
                                <input type="hidden" name="id" value="<%= incident.id %>" />
                            </form>
                        </td>                        
                    </tr>                
                <% }) %>
            </tbody>
        </table>
    </form>
</body>

<script src="js/incidents/index.js"></script>