<!DOCTYPE html>
<html>

<head>
    <title>NFE - Déclaration d'incidents</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/declaration_incidents.css" />
</head>

<%- include("header"); %>

<body>
    <h1 class="title">Déclaration d'incident</h1>

    <form method="post" class="form">
        <div class="form-line">
            <label class="form-label" for="place">Lieu de l'incident :</label>
            <input type="text" name="place" id="place" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label" for="incident_date">Date d'apparition :</label>
            <input type="date" name="date" id="date" class="form-input" /><br>
        </div>        

        <div class="form-line">
            <label class="form-label" for="incident_type">Type d'incident :</label>
            <select name="type" id="type" class="form-input">
                <% types.forEach(type => { %>
                    <option value="<%= type.name %>"><%= type.text %></option>
                <% }); %>
            </select><br>
        </div>

        <div class="form-line">
            <label class="form-label" for="client_name">Nom du client :</label>
            <input type="text" name="name" id="name" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label" for="phone">Numéro de téléphone :</label>
            <input type="text" name="phone" id="phone" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label" for="mail">Adresse mail :</label>
            <input type="email" name="mail" id="mail" class="form-input" /><br>
        </div>

        <div class="form-line">
            <label class="form-label" for="comment">Commentaire :</label>
            <textarea name="comment" id="comment" class="form-input"></textarea><br><br>
        </div>

        <input type="submit" id="declare_incident" value="Déclarer l'incident" />
    </form>

    <% if (locals.error) { %>
        <div class="error">
            <p><h3><%= error %></h3></p>
        </div>
    <% } %>
    
    <% if (locals.incident) { %>
        <div class="success">
            <p>L'incident a bien été créé avec ces informations :</p>

            <text>Lieu de l'incident : <%= incident.place %></text><br>
            <text>Date d'apparition : <%= incident.date %></text><br>
            <text>Type d'incident : <%= incident.type %></text><br>
            <text>Nom du client : <%= incident.client.name %></text><br>
            <text>Numéro de téléphone : <%= incident.client.phone %></text><br>
            <text>Adresse mail : <%= incident.client.mail %></text><br>
            <text>Commentaire : <%= incident.client.comment %></text>
        </div>
    <% } %>
</body>

</html>