<!DOCTYPE html>
<html>

<head>
    <title>NFE - Déclaration d'incidents</title>
    <link rel="stylesheet" href="css/declaration_incidents.css" />
    <link rel="stylesheet" href="css/global.css" />
</head>

<%- include("header"); %>

<body>
    <h1 class="title">Déclaration d'incident</h1>

    <form method="post" action="/declaration_incidents" class="declaration_form">
        <div class="form_line">
            <label class="form_label" for="place">Lieu de l'incident :</label>
            <input type="text" name="place" id="place" class="form_input" /><br>
        </div>

        <div class="form_line">
            <label class="form_label" for="incident_date">Date d'apparition :</label>
            <input type="date" name="date" id="date" class="form_input" /><br>
        </div>        

        <div class="form_line">
            <label class="form_label" for="incident_type">Type d'incident :</label>
            <select name="type" id="type" class="form_input">
                <% types.forEach(function(type) { %>
                    <option value="<%= type.name %>"><%= type.text %></option>
                <% }); %>
            </select><br>
        </div>

        <div class="form_line">
            <label class="form_label" for="client_name">Nom du client :</label>
            <input type="text" name="name" id="name" class="form_input" /><br>
        </div>

        <div class="form_line">
            <label class="form_label" for="phone">Numéro de téléphone :</label>
            <input type="text" name="phone" id="phone" class="form_input" /><br>
        </div>

        <div class="form_line">
            <label class="form_label" for="mail">Adresse mail :</label>
            <input type="email" name="mail" id="mail" class="form_input" /><br>
        </div>

        <div class="form_line">
            <label class="form_label" for="comment">Commentaire :</label>
            <textarea name="comment" id="comment" class="form_input"></textarea><br><br>
        </div>

        <input type="submit" name="report_incident_input" id="report_incident_input" value="Déclarer l'incident" />
    </form>

    <% if (locals.error) { %>
        <div class="error_div">
            <p><h3><%= error %></h3></p>
        </div>
    <% } %>
    
    <% if (locals.incident) { %>
        <div class="confirmation_div">
            <h1>L'incident a bien été créé</h1>
            
            <h1>Client</h1>
            <ul>
                <li>Prenom : <%= incident.client.name %></li>
                <li>Téléphone : <%= incident.client.phone %></li>
                <li>Adresse mail : <%= incident.client.mail %></li>
                <li>Commentaire : <%= incident.client.comment %></li>
            </ul>

            <h1>Incident</h1>
            <ul>
                <li>Lieu : <%= incident.place %></li>
                <li>Date : <%= incident.date %></li>
                <li>Type : <%= incident.type %></li>
            </ul>
        </div>
    <% } %>

    <% if (locals.incorrect) { %>
        <div class="error_div">
            <h3>Le formulaire n'a pas été correctement renseigné</h3>
        </div>
    <% } %>    

    <!--<button id="report_incident_input">OK</button>-->
</body>

</html>
<!--
    document.getElementById('report_incident_input').addEventListener('click', function() {
        document.getElementById('confirmation_name').textContent = document.getElementById('place').value;
        document.getElementById('confirmation_name').textContent = document.getElementById('place').value;
        document.getElementById('confirmation_name').textContent = document.getElementById('place').value;
        document.getElementById('confirmation_name').textContent = document.getElementById('place').value;
        document.getElementById('confirmation_name').textContent = document.getElementById('place').value;
        document.getElementById('confirmation_name').textContent = document.getElementById('place').value;
    });-->

