<!DOCTYPE html>
<html>

<head>
    <title>NFE - Déclaration d'incidents</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/declaration_incidents.css" />
</head>

<%- include("header"); %>

<body>
    <h1 class="title">Déclaration d'incident</h1>

    <form method="post" class="form">
        <div class="form-line">
            <label class="form-label">Lieu de l'incident :</label>
            <input type="text" name="place" id="place" class="form-input" value="<%= locals.body ? body.place : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Date d'apparition :</label>
            <input type="date" name="date" id="date" class="form-input" value="<%= locals.body ? body.date : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Région :</label>
            <select name="region" class="form-input">
                <% regions.forEach(region => { %>
                    <option value="<%= region.id %>"><%= region.name %></option>
                <% }); %>
            </select><br>
        </div>

        <div class="form-line">
            <label class="form-label">Nom du client :</label>
            <input type="text" name="name" id="name" class="form-input" value="<%= locals.body ? body.name : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Numéro de téléphone :</label>
            <input type="text" name="phone" id="phone" class="form-input" value="<%= locals.body ? body.phone : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Adresse mail :</label>
            <input type="email" name="mail" id="mail" class="form-input" value="<%= locals.body ? body.mail : '' %>" /><br>
        </div>

        <div class="form-line">
            <label class="form-label">Commentaire :</label>
            <textarea name="comment" id="comment" class="form-input"><%= locals.body ? body.comment : '' %></textarea><br><br>
        </div>

        <input type="submit" id="declare_incident" value="Déclarer l'incident" />
    </form>

    <% if (locals.error) { %>
        <div class="error">
            <p><h3><%= error %></h3></p>
        </div>
    <% } %>
    
    <% if (locals.body && !locals.error) { %>
        <div class="success">
            <p>L'incident a bien été créé avec ces informations :</p>

            <text>Lieu de l'incident : <%= body.place %></text><br>
            <text>Date d'apparition : <%= body.date %></text><br>
            <text>Region : <%= body.region %></text><br>
            <text>Nom du client : <%= body.name %></text><br>
            <text>Numéro de téléphone : <%= body.phone %></text><br>
            <text>Adresse mail : <%= body.mail %></text><br>
            <text>Commentaire : <%= body.comment %></text>
        </div>
    <% } %>
</body>

</html>

<script>
    document.getElementById('date').value = new Date().toISOString().substring(0, 10);
</script>