<!DOCTYPE html>
<html>

<head>
    <title>Incident n°<%= incident.id %></title>
</head>

<%- include("header"); %>

<body>
    <h1>Client</h1>
    <ul>
        <li>Prenom : <%= incident.client.name %></li>
        <li>Téléphone : <%= incident.client.phone %></li>
        <li>Adresse mail : <%= incident.client.mail %></li>
        <li>Commentaire : <%= incident.client.comment %></li>
    </ul>

    <h1>Incident</h1>
    <ul>
        <li>Lieu : <%= incident.place %></li>
        <li>Date : <%= incident.date %></li>
        <li>Type : <%= incident.type %></li>
    </ul>
</body>

</html>