<h1>Client</h1>
<ul>
    <li>Prenom : <%= client.name %></li>
    <li>Téléphone : <%= client.phone_number %></li>
    <li>Adresse mail : <%= client.mail_address %></li>
    <li>Commentaire : <%= client.comment %></li>
</ul>

<h1>Incident</h1>
<ul>
    <li>Lieu : <%= incident.place %></li>
    <li>Date : <%= incident.date %></li>
    <li>Type : <%= incident.type %></li>
</ul>